@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 10px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.floating-image {
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@layer base {
  :root {
    --background: #ffffff;
    --bg2: #f8f8f8;
    --bg3: #27272a ;
    --foreground: #000000;
    --border: #ececec;
    --muted: hsl(0deg 0% 40%);
    --shadow-custom: 0 3px 10px rgba(0, 0, 0, 0.2);
  }

  .dark {
    --background: #000000;
    --bg2: #222222;
    --foreground: #eeeeee;
    --border: #27272a;
    --muted: #bdbdbd;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
}
